body{
    background-image: url("background_2.png");
    background-attachment: fixed;
    background-size:cover;
    overflow:auto;
    font-family: 'Noto Sans TC', sans-serif;
}
.container{
    margin: 10px auto 10px auto;
    display: flex;

}
.search{
    background-color: #3c4951;
    width: 600px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin-top: 35px;
    position: absolute;
    justify-content: center;
    opacity: 0.4;
}
.btn {
    background-color: #3c4951;
    height: 35px;
    width: 55px;
    position: relative;
    background-size:contain;
    top: 39px;
    left: 550px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 18px;
}
.icon,.parent{
    display: inline-block;
}
.icon{
    margin:20px 20px 20px 20px;
}
.parent{
    width: 100px;
    height: 50px;
}
.chunk,.scorearea{
    display: inline-block;
}
.resultarea,.options{
    display: inline-block;
}
.chunk{
    height: 180px;
    width: 600px;
    background-color:#25323a;
    margin-left: 70px;
    margin-bottom: 30px;
    opacity: 0.5;
}
.resultarea{
    width:850px;
 
}
.gamename{
    color:#ffffff;
    font-size: 32px;
    padding-left: 30px;
    padding-top: 30px;
    position: absolute;
    text-overflow: ellipsis;
    width:400px;
}
.gameprice{
    color:#bdccd4;
    font-size:28px;
    position: absolute;
    padding-left: 430px;
    padding-top: 30px;
    
}
.gametags{
    color:#999999;
    font-size: 28px;
    position: absolute;
    padding-left: 25px;
    padding-top: 100px;  
}
.scorearea{
    vertical-align: top;
    color: #e6e6e6;
    font-size: 18px;
    padding-left: 40px;
    padding-top: 14px;
    
}
.score{
    color:#ade1f7;
}


.options{
    vertical-align: top;
    padding-left: 30px;
    padding-top: 30px;
    margin-left: 50px;
}
.row{
    padding-bottom: 50px;
}
.label{
    display: inline-block;
    background-color: #7698a8;
    border-radius: 5px;
    font-size: 22px;
    color:#ffffff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.7;
    width:140px;
    text-align: center;
}
